<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">

	<body>
		
		<section class="article container">

			<section class="tech row">
				<section class="col-lg-12">
					<h2 class="article__title">
						<span>
							<i>Danh mục</i> sản phẩm</span>
					</h2>
				</section>
				<section class="tech__listnews col-lg-4">
					<a th:href="@{danh-muc(loai=hang-rong-nha)}">
						<section class="tech__listnews__box">
							<img src="resources/images/nha.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> CLICK </span>
								<h3>Hàng rong nhà</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a th:href="@{danh-muc(loai=hang-rong-xe)}">
						<section class="tech__listnews__box">
							<img src="resources/images/xeco.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> CLICK </span>
								<h3>Hàng rong xe</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a th:href="@{danh-muc(loai=do-gia-dung)}">
						<section class="tech__listnews__box">
							<img src="resources/images/nt.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> CLICK </span>
								<h3>Nội ngoại thất,đồ gia dụng.</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a th:href="@{danh-muc(loai=dien-tu-cong-nghe)}">
						<section class="tech__listnews__box">
							<img src="resources/images/DDT.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> CLICK </span>
								<h3>Đồ điện tử,công nghệ số.</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a th:href="@{danh-muc(loai=giai-tri-the-thao)}">
						<section class="tech__listnews__box">
							<img src="resources/images/dgt.gif" alt="">
							<section class="tech__description">
								<span class="catename"> CLICK </span>
								<h3>Đồ giải trí,sở thích.</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a th:href="@{danh-muc(loai=san-pham-khac)}">
						<section class="tech__listnews__box">
							<img src="resources/images/vieclam.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> CLICK </span>
								<h3>Việc làm,dịch vụ.</h3>
							</section>
						</section>
					</a>
				</section>
			</section>
		</section>


		<section class="article container">
			<section class="tech row">
				<section class="col-lg-12">
					<h2 class="article__title">
						<span>
							<i>Sản phẩm</i> hot</span>
					</h2>
				</section>
				<section class="tech__listnews col-lg-4" th:each="mathang,i : ${listMatHang}" th:if="${i.index <= 5}">
					<a th:href="@{chi-tiet(maHang=${mathang.mahang})}">
						<section class="tech__listnews__box">
							<img src="resources/images/xepcx.jpg" th:src="${mathang.anh[0]}" alt="">
							<section class="tech__description">
								<span class="catename"> Hot </span>
								<span class="posttime">
									<i class="fa fa-clock-o"></i><span th:text="${mathang.ngaydang}"></span>
								</span>
								<h3 th:text="${mathang.tenhang}">
								</h3>
							</section>
						</section>
					</a>
				</section>
			</section>
		</section>
		<section class="article container">
			<section class="tech row">
				<section class="col-lg-12">
					<h2 class="article__title">
						<span>
							<i>Gánh hàng </i> hot</span>
					</h2>
				</section>
				<section class="tech__listnews col-lg-4">
					<a href="#">
						<section class="tech__listnews__box">
							<img src="resources/images/xepcx.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> Hot </span>
								<span class="posttime">
									<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
								</span>
								<h3>
									Xe ga pcx hàng nội địa ,biển Hà Nội vip
									<h4>43.500.000 vnđ</h4>
								</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a href="#">
						<section class="tech__listnews__box">
							<img src="resources/images/phoneix.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> hot </span>
								<span class="posttime">
									<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
								</span>
								<h3>
									xe tay côn phoneix 175cc ,Như mới,max 9000km
									<h4>55.000.000</h4>
								</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a href="#">
						<section class="tech__listnews__box">
							<img src="resources/images/ip8.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> hot </span>
								<span class="posttime">
									<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
								</span>
								<h3>
									Iphone 8 vàng hồng
									<h4>22.500.000</h4>
								</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a href="#">
						<section class="tech__listnews__box">
							<img src="resources/images/DDT.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> tech </span>
								<span class="posttime">
									<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
								</span>
								<h3>Đồ điện tử,công nghệ số.</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a href="#">
						<section class="tech__listnews__box">
							<img src="resources/images/sport_2.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> tech </span>
								<span class="posttime">
									<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
								</span>
								<h3>Đồ giải trí,thể thao,sở thích.</h3>
							</section>
						</section>
					</a>
				</section>
				<section class="tech__listnews col-lg-4">
					<a href="#">
						<section class="tech__listnews__box">
							<img src="resources/images/vieclam.jpg" alt="">
							<section class="tech__description">
								<span class="catename"> tech </span>
								<span class="posttime">
									<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
								</span>
								<h3>Việc làm,dịch vụ.</h3>
							</section>
						</section>
					</a>
				</section>
			</section>
		</section>
	</body>

</html>