<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Category</title>
	<link rel="stylesheet" href="public/styles/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/styles/css.css">
	<link rel="stylesheet" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="public/js/jquery-3.2.1.min.js"></script>
	<script src="public/styles/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<script>
	$(function(){
		$(window).scroll(function(){
			if ($(this).scrollTop()>120) {
				$('.header').css({
					'position' : 'fixed',
					'height' : '40px',
					'width' : '100%'
				});
				
				$('.header').addClass('header__fixed');
			}
			else{
				$('.header').css({
					'position' : 'relative',
					'height' : '80px',
					'width' : ''
				});
				$('.header').removeClass('header__fixed');
				
			}
		});
	});
</script>
	<header>
		<section class="top-header hidden-xs">
			<section class="container">
				<section class="row">
					<section class="col-lg-9">
						<ul class="top-menu">
							<li>
								<a href="#">Homepage</a>
							</li>
							<li>
								<a href="#">Fashion</a>
							</li>
							<li>
								<a href="#">Sport</a>
							</li>
							<li>
								<a href="#">Tech</a>
							</li>
							<li>
								<a href="#">Education</a>
							</li>
							<li>
								<a href="#">Travel</a>
							</li>
						</ul>
					</section>
					<section class="col-lg-3">
						<a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</section>

				</section>
			</section>
		</section>
		<section class="header">
		<section class="container">
			<section class="row">
				<section class="col-lg-3">
					<img src="public/images/logo.webp" alt="Logo">
				</section>
				<section class="col-lg-9">
					<ul class="menu">
						<li>
							<a href="#">Homepage</a>

						</li>
						<li>
							<a href="#">FASHION</a>
							<ul class="sub-menu">
								<li>
									<a href="#">Menu 1</a>
								</li>
								<li>
									<a href="#">Menu 1</a>
								</li>
								<li>
									<a href="#">Menu 1</a>
								</li>
								<li>
									<a href="#">Menu 1</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">SPORT</a>
						</li>
						<li>
							<a href="#">Tech</a>
						</li>
						<li>
							<a href="#">Education</a>
						</li>
						<li>
							<a href="#">Travel</a>
						</li>
						<li class="search">
							<i class="fa fa-search" aria-hidden="true"></i>
						</li>

					</ul>
				</section>
			</section>
		</section>
		</section>
		<section class="clear"></section>
	</header>
	<section class="article container category">
		<section class="row">
			<section class="category__box col-lg-8">
				<section class="col-lg-12">
					<h2 class="article__title">
						<span>Sport News</span>
					</h2>
				</section>
				<section class="category__news col-lg-12">
					<section class="category__news__thumb">
						<img src="public/images/slider4.jpg" alt="">
						<section class="category__news__title">
						<h4>
							<a href="detail.html">Ligula bibendum laoreet inceptos gravida</a>
						</h4>
					</section>
					</section>
					
					<section class="category__news__info">
						<span class="catename">
							Sport
						</span>
						<span class="posttime">
							<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
						</span>
					</section>
					<section class="category__news__desc">
						Velit eu cubilia velit ante hymenaeos proin class pretium ornare dolor consequat dui eros magnis sodales. Quis nullam quis magnis lacus proin inceptos sociosqu dis nonummy per Ligula bibendum laoreet inceptos gravida in montes tristique nostra torquent ut curabitur litora, sociis Porttitor. Nisi nisl. Commodo eleifend Urna. Mus elit enim mus est gravida id duis natoque ullamcorper. Dictum convallis nam. ...
					</section>
					<span class="readmore"><a href="#">READMORE</a></span>
				</section>
				<section class="category__news col-lg-12">
					<section class="category__news__thumb">
						<img src="public/images/slider1.jpg" alt="">
						<section class="category__news__title">
						<h4>
							<a href="detail.html">Ligula bibendum laoreet inceptos gravida</a>
						</h4>
					</section>
					</section>
					
					<section class="category__news__info">
						<span class="catename">
							Sport
						</span>
						<span class="posttime">
							<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
						</span>
					</section>
					<section class="category__news__desc">
						Velit eu cubilia velit ante hymenaeos proin class pretium ornare dolor consequat dui eros magnis sodales. Quis nullam quis magnis lacus proin inceptos sociosqu dis nonummy per Ligula bibendum laoreet inceptos gravida in montes tristique nostra torquent ut curabitur litora, sociis Porttitor. Nisi nisl. Commodo eleifend Urna. Mus elit enim mus est gravida id duis natoque ullamcorper. Dictum convallis nam. ...
					</section>
					<span class="readmore"><a href="#">READMORE</a></span>
				</section>				<section class="category__news col-lg-12">
					<section class="category__news__thumb">
						<img src="public/images/slider2.jpg" alt="">
						<section class="category__news__title">
						<h4>
							<a href="detail.html">Ligula bibendum laoreet inceptos gravida</a>
						</h4>
					</section>
					</section>
					
					<section class="category__news__info">
						<span class="catename">
							Sport
						</span>
						<span class="posttime">
							<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
						</span>
					</section>
					<section class="category__news__desc">
						Velit eu cubilia velit ante hymenaeos proin class pretium ornare dolor consequat dui eros magnis sodales. Quis nullam quis magnis lacus proin inceptos sociosqu dis nonummy per Ligula bibendum laoreet inceptos gravida in montes tristique nostra torquent ut curabitur litora, sociis Porttitor. Nisi nisl. Commodo eleifend Urna. Mus elit enim mus est gravida id duis natoque ullamcorper. Dictum convallis nam. ...
					</section>
					<span class="readmore"><a href="#">READMORE</a></span>
				</section>				<section class="category__news col-lg-12">
					<section class="category__news__thumb">
						<img src="public/images/slider3.jpg" alt="">
						<section class="category__news__title">
						<h4>
							<a href="detail.html">Ligula bibendum laoreet inceptos gravida</a>
						</h4>
					</section>
					</section>
					
					<section class="category__news__info">
						<span class="catename">
							Sport
						</span>
						<span class="posttime">
							<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
						</span>
					</section>
					<section class="category__news__desc">
						Velit eu cubilia velit ante hymenaeos proin class pretium ornare dolor consequat dui eros magnis sodales. Quis nullam quis magnis lacus proin inceptos sociosqu dis nonummy per Ligula bibendum laoreet inceptos gravida in montes tristique nostra torquent ut curabitur litora, sociis Porttitor. Nisi nisl. Commodo eleifend Urna. Mus elit enim mus est gravida id duis natoque ullamcorper. Dictum convallis nam. ...
					</section>
					<span class="readmore"><a href="#">READMORE</a></span>
				</section>				<section class="category__news col-lg-12">
					<section class="category__news__thumb">
						<img src="public/images/slider4.jpg" alt="">
						<section class="category__news__title">
						<h4>
							<a href="detail.html">Ligula bibendum laoreet inceptos gravida</a>
						</h4>
					</section>
					</section>
					
					<section class="category__news__info">
						<span class="catename">
							Sport
						</span>
						<span class="posttime">
							<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
						</span>
					</section>
					<section class="category__news__desc">
						Velit eu cubilia velit ante hymenaeos proin class pretium ornare dolor consequat dui eros magnis sodales. Quis nullam quis magnis lacus proin inceptos sociosqu dis nonummy per Ligula bibendum laoreet inceptos gravida in montes tristique nostra torquent ut curabitur litora, sociis Porttitor. Nisi nisl. Commodo eleifend Urna. Mus elit enim mus est gravida id duis natoque ullamcorper. Dictum convallis nam. ...
					</section>
					<span class="readmore"><a href="#">READMORE</a></span>
				</section>
			</section>
			<aside class="col-lg-4 ">
				<section class="newnews">
					<h2>
						New Articles
					</h2>
					<section class="newnews__boxlist">
						<section class="newnews__listnews">
							<section class="col-xs-8">
								<span class="catename">
									Sport
								</span>
								<h4>
									<a href="">Font Awesome gives you scalable vector</a>
								</h4>
							</section>
							<section class="col-xs-4">
								<img src="public/images/sport_4.jpg" alt="">
							</section>
							<section class="clear"></section>
						</section>
						<section class="newnews__listnews">
							<section class="col-xs-8">
								<span class="catename">
									Travel
								</span>
								<h4>
									<a href="">Font Awesome gives you scalable vector</a>
								</h4>
							</section>
							<section class="col-xs-4">
								<img src="public/images/tech_2.jpg" alt="">
							</section>
							<section class="clear"></section>
						</section>
						<section class="newnews__listnews">
							<section class="col-xs-8">
								<span class="catename">
									Tech
								</span>
								<h4>
									<a href="">Font Awesome gives you scalable vector</a>
								</h4>
							</section>
							<section class="col-xs-4">
								<img src="public/images/tech_1.jpg" alt="">
							</section>
							<section class="clear"></section>
						</section>
					</section>
				</section>
				<section class="clear"></section>
				<section class="fahsion hidden-xs">
					<h2>
						Popular Posts
					</h2>
					<section class="fahsion__news col-lg-6">
						<img src="public/images/sport_2.jpg" alt="">
						<h4>
							<a href="#">PARIS FASHION WEEK 2017</a>
						</h4>
					</section>
					<section class="fahsion__news col-lg-6">
						<img src="public/images/sport_3.jpg" alt="">
						<h4>
							<a href="#">PARIS FASHION WEEK 2017</a>
						</h4>
					</section>
					<section class="fahsion__news col-lg-6">
						<img src="public/images/sport_4.jpg" alt="">
						<h4>
							<a href="#">PARIS FASHION WEEK 2017</a>
						</h4>
					</section>
					<section class="fahsion__news col-lg-6">
						<img src="public/images/tech_1.jpg" alt="">
						<h4>
							<a href="#">PARIS FASHION WEEK 2017</a>
						</h4>
					</section>
				</section>
			</aside>
		</section>
		<section class="paging">
			<span>
				<a href="#">1</a>
			</span>
			<span>
				<a href="#">2</a>
			</span>
			<span>
				<a href="#">3</a>
			</span>
			<span>
				<a href="#">4</a>
			</span>
			<span>
				...
			</span>
			<span>
				<a href="#">7</a>
			</span>
		</section>
	</section>
	<section class="clear"></section>

	<footer>
		<section class="container">
			<section class="row">
				<section class="col-lg-3">
					<h2>
						About TienNguyen
					</h2>
					<section class="footer__box">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
						Contact me: <br>
						<a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</section>
				</section>
				<section class="col-lg-3">
					<h2>
						Lastest Posts
					</h2>
					<section class="footer__box">
						<section class="footer__box__lastest">
							<a href="#">Font Awesome gives you scalable vector</a>
							<span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
						</section>
						<section class="footer__box__lastest">
							<a href="#">Font Awesome gives you scalable vector</a>
							<span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
						</section>
						<section class="footer__box__lastest">
							<a href="#">Font Awesome gives you scalable vector</a>
							<span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
						</section>
						<section class="footer__box__lastest">
							<a href="#">Font Awesome gives you scalable vector</a>
							<span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
						</section>
					</section>
				</section>
				<section class="col-lg-3">
					<h2>
						Subcribe Email
						
					</h2>
					<p>
						Enter your email to read the lastest news
					</p>
					<form action="#">
						<input type="email" placeholder="Your email..." required="">
						<button>
							<i class="fa fa-rss" aria-hidden="true"></i>
						</button>
					</form>
				</section>
				<section class="col-lg-3">
					<h2>
						Categories
					</h2>
					<section class="footer__box__categories">
						<section class="footer__category">
							<section class="footer__category--left">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
								<a href="#">Sport</a>
							</section>
							<span>
								5
							</span>
						</section>
						<section class="footer__category">
							<section class="footer__category--left">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
								<a href="#">Tech</a>
							</section>
							<span>
								5
							</span>
						</section>
						<section class="footer__category">
							<section class="footer__category--left">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
								<a href="#">Travel</a>
							</section>
							<span>
								5
							</span>
						</section>
						<section class="footer__category">
							<section class="footer__category--left">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
								<a href="#">Fashion</a>
							</section>
							<span>
								5
							</span>
						</section>
					</section>
				</section>
			</section>
		</section>
		<section class="footer__bottom">
			<section class="container">
				<section class="row">
					<section class="footer__bottom__left col-lg-6">
						<a href="#">Homepage</a>
						<a href="#">About</a>
						<a href="#">Contact</a>
					</section>
					<section class="footer__bottom__right col-lg-6">
						© Cover by TienNguyen | Design by TheREX - Themeforest
					</section>
				</section>
			</section>
		</section>
	</footer>
</body>
</html>