<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Detail</title>
	<link rel="stylesheet" href="public/styles/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/styles/css.css">
	<link rel="stylesheet" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="public/js/jquery-3.2.1.min.js"></script>
	<script src="public/styles/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<script>
	$(function(){
		$(window).scroll(function(){
			if ($(this).scrollTop()>120) {
				$('.header').css({
					'position' : 'fixed',
					'height' : '40px',
					'width' : '100%'
				});
				
				$('.header').addClass('header__fixed');
			}
			else{
				$('.header').css({
					'position' : 'relative',
					'height' : '80px',
					'width' : ''
				});
				$('.header').removeClass('header__fixed');
				
			}
		});
	});
</script>
	<header>
		<section class="top-header hidden-xs">
			<section class="container">
				<section class="row">
					<section class="col-lg-9">
						<ul class="top-menu">
							<li>
								<a href="#">Homepage</a>
							</li>
							<li>
								<a href="#">Fashion</a>
							</li>
							<li>
								<a href="#">Sport</a>
							</li>
							<li>
								<a href="#">Tech</a>
							</li>
							<li>
								<a href="#">Education</a>
							</li>
							<li>
								<a href="#">Travel</a>
							</li>
						</ul>
					</section>
					<section class="col-lg-3">
						<a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</section>

				</section>
			</section>
		</section>
		<section class="header">
		<section class="container">
			<section class="row">
				<section class="col-lg-3">
					<img src="public/images/logo.webp" alt="Logo">
				</section>
				<section class="col-lg-9">
					<ul class="menu">
						<li>
							<a href="#">Homepage</a>

						</li>
						<li>
							<a href="#">FASHION</a>
							<ul class="sub-menu">
								<li>
									<a href="#">Menu 1</a>
								</li>
								<li>
									<a href="#">Menu 1</a>
								</li>
								<li>
									<a href="#">Menu 1</a>
								</li>
								<li>
									<a href="#">Menu 1</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">SPORT</a>
						</li>
						<li>
							<a href="#">Tech</a>
						</li>
						<li>
							<a href="#">Education</a>
						</li>
						<li>
							<a href="#">Travel</a>
						</li>
						<li class="search">
							<i class="fa fa-search" aria-hidden="true"></i>
						</li>

					</ul>
				</section>
			</section>
		</section>
		</section>
		<section class="clear"></section>
	</header>
	<section class="article container detail">
		<section class="row">
			<section class="col-lg-8">
				<section class="detail__post">
					<h1>
						LIGULA BIBENDUM LAOREET INCEPTOS GRAVIDA
					</h1>
					<section class="detail__desc">
						<span class="catename">
							Sport
						</span>
						- By Tien Nguyen -
						<span class="posttime">
							<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
						</span>

						<i class="fa fa-eye" aria-hidden="true"></i> 1500
						<i class="fa fa-comments" aria-hidden="true"></i> 0
					</section>
					<p>
						<img src="http://therex.bk-ninja.com/wp-content/uploads/2015/09/xfashion-person-woman-hand--750x375.jpg.pagespeed.ic.3rj3Dm98Wl.webp" alt="">
						<br>
						<br>

						Velit eu cubilia velit ante hymenaeos proin class pretium ornare dolor consequat dui eros magnis sodales. Quis nullam quis magnis lacus proin inceptos sociosqu dis nonummy per Ligula bibendum laoreet inceptos gravida in montes tristique nostra torquent ut curabitur litora, sociis Porttitor. Nisi nisl. Commodo eleifend<br>

						Urna. Mus elit enim mus est gravida id duis natoque ullamcorper. Dictum convallis nam. Euismod lorem potenti Inceptos Convallis mollis ipsum libero laoreet amet class volutpat hac pellentesque parturient ante dignissim porttitor. Adipiscing hendrerit, torquent nam.<br>

						VEL FEUGIAT SCELERISQUE LOBORTIS. DICTUM GRAVIDA ODIO SUSCIPIT PLATEA FAMES, ORCI ERAT SOCIIS.<br>
						Ligula dignissim tempor montes laoreet adipiscing metus ullamcorper sapien nostra sollicitudin convallis mi purus rutrum. Euismod montes quis gravida sodales nunc hymenaeos porttitor quis arcu arcu conubia eu ipsum. Congue urna turpis felis natoque aliquam. Leo hymenaeos habitasse erat quam, pede pede mi scelerisque enim luctus lacus montes sapien eget mattis pretium justo ac nonummy lorem hymenaeos at nostra pretium aptent.<br>

						Faucibus congue ac eleifend. Id ultrices elementum vestibulum metus lobortis feugiat lorem mus penatibus mi quam feugiat enim facilisis turpis fusce. Cras odio. Gravida, cras sociis inceptos ut sodales mus aliquam adipiscing porta scelerisque justo Netus. Dui nascetur aenean faucibus euismod varius eu lorem aenean. Inceptos lacinia est egestas curae;, ante ante luctus felis fringilla.
						<br><br>
						<img src="http://therex.bk-ninja.com/wp-content/uploads/2015/09/clothes-travel-voyage-backpack--888x500.jpg" alt="">
						<br>
						<br>
						Faucibus congue ac eleifend. Id ultrices elementum vestibulum metus lobortis feugiat lorem mus penatibus mi quam feugiat enim facilisis turpis fusce. Cras odio. Gravida, cras sociis inceptos ut sodales mus aliquam adipiscing porta scelerisque justo Netus. Dui nascetur aenean faucibus euismod varius eu lorem aenean. Inceptos lacinia est egestas curae;, ante ante luctus felis fringilla.
						<br>
					</p>
					<section class="comments">
						<h2>
							Leave a comment
						</h2>
						<form action="">
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="10" id="comment" placeholder="Message"></textarea>
							</div>
							<div class="form-group">
								<label for="name">Name:</label>
								<input type="text" class="form-control" id="name" placeholder="Name">
							</div>
							<div class="form-group">
								<label for="email">Email:</label>
								<input type="text" class="form-control" id="email" placeholder="Email">
							</div>
							<button type="button" class="btn btn-default">Send your comment</button>
						</form>
					</section>
				</section>
			</section>
			<aside class="col-lg-4 ">
				<section class="newnews">
					<h2>
						New Articles
					</h2>
					<section class="newnews__boxlist">
						<section class="newnews__listnews">
							<section class="col-xs-8">
								<span class="catename">
									Sport
								</span>
								<h4>
									<a href="">Font Awesome gives you scalable vector</a>
								</h4>
							</section>
							<section class="col-xs-4">
								<img src="public/images/sport_4.jpg" alt="">
							</section>
							<section class="clear"></section>
						</section>
						<section class="newnews__listnews">
							<section class="col-xs-8">
								<span class="catename">
									Travel
								</span>
								<h4>
									<a href="">Font Awesome gives you scalable vector</a>
								</h4>
							</section>
							<section class="col-xs-4">
								<img src="public/images/tech_2.jpg" alt="">
							</section>
							<section class="clear"></section>
						</section>
						<section class="newnews__listnews">
							<section class="col-xs-8">
								<span class="catename">
									Tech
								</span>
								<h4>
									<a href="">Font Awesome gives you scalable vector</a>
								</h4>
							</section>
							<section class="col-xs-4">
								<img src="public/images/tech_1.jpg" alt="">
							</section>
							<section class="clear"></section>
						</section>
					</section>
				</section>
				<section class="clear"></section>
				<section class="fahsion hidden-xs">
					<h2>
						Popular Posts
					</h2>
					<section class="fahsion__news col-lg-6">
						<img src="public/images/sport_2.jpg" alt="">
						<h4>
							<a href="#">PARIS FASHION WEEK 2017</a>
						</h4>
					</section>
					<section class="fahsion__news col-lg-6">
						<img src="public/images/sport_3.jpg" alt="">
						<h4>
							<a href="#">PARIS FASHION WEEK 2017</a>
						</h4>
					</section>
					<section class="fahsion__news col-lg-6">
						<img src="public/images/sport_4.jpg" alt="">
						<h4>
							<a href="#">PARIS FASHION WEEK 2017</a>
						</h4>
					</section>
					<section class="fahsion__news col-lg-6">
						<img src="public/images/tech_1.jpg" alt="">
						<h4>
							<a href="#">PARIS FASHION WEEK 2017</a>
						</h4>
					</section>
				</section>
			</aside>
		</section>
	</section>
	<section class="clear"></section>
	<footer>
		<section class="container">
			<section class="row">
				<section class="col-lg-3">
					<h2>
						About TienNguyen
					</h2>
					<section class="footer__box">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
						Contact me: <br>
						<a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</section>
				</section>
				<section class="col-lg-3">
					<h2>
						Lastest Posts
					</h2>
					<section class="footer__box">
						<section class="footer__box__lastest">
							<a href="#">Font Awesome gives you scalable vector</a>
							<span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
						</section>
						<section class="footer__box__lastest">
							<a href="#">Font Awesome gives you scalable vector</a>
							<span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
						</section>
						<section class="footer__box__lastest">
							<a href="#">Font Awesome gives you scalable vector</a>
							<span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
						</section>
						<section class="footer__box__lastest">
							<a href="#">Font Awesome gives you scalable vector</a>
							<span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
						</section>
					</section>
				</section>
				<section class="col-lg-3">
					<h2>
						Subcribe Email
						
					</h2>
					<p>
						Enter your email to read the lastest news
					</p>
					<form action="#">
						<input type="email" placeholder="Your email..." required="">
						<button>
							<i class="fa fa-rss" aria-hidden="true"></i>
						</button>
					</form>
				</section>
				<section class="col-lg-3">
					<h2>
						Categories
					</h2>
					<section class="footer__box__categories">
						<section class="footer__category">
							<section class="footer__category--left">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
								<a href="#">Sport</a>
							</section>
							<span>
								5
							</span>
						</section>
						<section class="footer__category">
							<section class="footer__category--left">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
								<a href="#">Tech</a>
							</section>
							<span>
								5
							</span>
						</section>
						<section class="footer__category">
							<section class="footer__category--left">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
								<a href="#">Travel</a>
							</section>
							<span>
								5
							</span>
						</section>
						<section class="footer__category">
							<section class="footer__category--left">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
								<a href="#">Fashion</a>
							</section>
							<span>
								5
							</span>
						</section>
					</section>
				</section>
			</section>
		</section>
		<section class="footer__bottom">
			<section class="container">
				<section class="row">
					<section class="footer__bottom__left col-lg-6">
						<a href="#">Homepage</a>
						<a href="#">About</a>
						<a href="#">Contact</a>
					</section>
					<section class="footer__bottom__right col-lg-6">
						© Cover by TienNguyen | Design by TheREX - Themeforest
					</section>
				</section>
			</section>
		</section>
	</footer>
</body>
</html>