<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<body>

	<footer th:fragment="footer">
		<section class="container">
			<section class="row">
				<section class="col-lg-3">
					<h2>Hangrong.com</h2>
					<section class="footer__box">
						Liên hệ với chúng tôi : <br>
						<br> <a href=""><i class="fa fa-facebook-square"
							aria-hidden="true"></i></a> <a href=""><i
							class="fa fa-google-plus-square" aria-hidden="true"></i></a> <a
							href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</section>
				</section>
				<section class="logoft">
					<img src="resources/images/avatar.png" style="width: 100%;" />
				</section>
				<section class="nhom5">
					<p>Một sản phẩm của nhóm 5</p>
					<p>Thiết kế web bởi Trọng Hậu | hỗ trợ bởi Đoàn Huy - Duy Thế</p>
					<p>Chịu trách nhiêm java web : Lò Ngọc</p>
				</section>
				<div class="chungnhan">
					<h2>Chứng nhận :</h2>
					<img src="resources/images/20150827110756-dadangky.png" style="width: 100%;"/>
				</div>
			</section>
		</section>
	</footer>
</body>
</html>
