<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hàng Rong</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/resources/styles/css.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/resources/js/javascript.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header th:insert="header::header"></header>
	<section th:insert="header::slider"></section>
	<section class="article container">
		<section class="tech row">
			<section class="col-lg-12">
				<h2 class="article__title">
					<span><i>Danh mục</i> sản phẩm</span>
				</h2>
			</section>
			<section class="tech__listnews col-lg-4">
				<a href="#">
					<section class="tech__listnews__box">
						<img src="resources/images/nha.jpg" alt="">
						<section class="tech__description">
							<span class="catename"> tech </span> <span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
							<h3>Hàng rong nhà</h3>
						</section>
					</section>
				</a>
			</section>
			<section class="tech__listnews col-lg-4">
				<a href="#">
					<section class="tech__listnews__box">
						<img src="resources/images/xeco.jpg" alt="">
						<section class="tech__description">
							<span class="catename"> tech </span> <span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
							<h3>Hàng rong xe</h3>
						</section>
					</section>
				</a>
			</section>
			<section class="tech__listnews col-lg-4">
				<a href="#">
					<section class="tech__listnews__box">
						<img src="resources/images/nt.jpg" alt="">
						<section class="tech__description">
							<span class="catename"> tech </span> <span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
							<h3>Nội ngoại thất,đồ gia dụng.</h3>
						</section>
					</section>
				</a>
			</section>
			<section class="tech__listnews col-lg-4">
				<a href="#">
					<section class="tech__listnews__box">
						<img src="resources/images/DDT.jpg" alt="">
						<section class="tech__description">
							<span class="catename"> tech </span> <span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
							<h3>Đồ điện tử,công nghệ số.</h3>
						</section>
					</section>
				</a>
			</section>
			<section class="tech__listnews col-lg-4">
				<a href="#">
					<section class="tech__listnews__box">
						<img src="resources/images/dgt.gif" alt="">
						<section class="tech__description">
							<span class="catename"> tech </span> <span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
							<h3>Đồ giải trí,thể thao,sở thích.</h3>
						</section>
					</section>
				</a>
			</section>
			<section class="tech__listnews col-lg-4">
				<a href="#">
					<section class="tech__listnews__box">
						<img src="resources/images/vieclam.jpg" alt="">
						<section class="tech__description">
							<span class="catename"> tech </span> <span class="posttime">
								<i class="fa fa-clock-o"></i> 12 OCTOBER, 2017
							</span>
							<h3>Việc làm,dịch vụ.</h3>
						</section>
					</section>
				</a>
			</section>
		</section>
	</section>
	<section class="clear"></section>
	<footer th:insert="footer::footer"></footer>
</body>
</html>