<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Hàng Rong</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/resources/styles/Newproduct.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id"
	content="1079112506902-227jo5ghrutuo68a9jmhck28hrkhj0ah.apps.googleusercontent.com">
<script th:src="@{/resources/js/javascript.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<header th:insert="header::header"></header>
	<div class="dangtin">
		<div class="body">
			<h1>ĐĂNG TIN MỚI</h1>
			<br>
			<form action="dang-tin" method="post">
				<table border="0" cellpadding="0" cellspacing="0">
					<tr class="table">
						<td class="left"><p>Chọn danh mục</p></td>
						<td class="right">
							<p>
								<select name="danhmuc" class="form-control">
									<option value="do-dien-tu">Đồ điện tử, công nghệ</option>
									<option value="nha">Nhà cửa, đất đai</option>
									<option value="do-gia-dung">Đồ gia dụng</option>
									<option value="do-giai-tri">Đồ giải trí, thể thao</option>
									<option value="xe">Xe máy, ô tô</option>
									<option value="san-pham-khac">Sản phẩm khác</option>
								</select>
							</p>
						</td>
					</tr>
					<tr class="table">
						<td class="left"><p>Tên sản phẩm</p></td>
						<td class="right"><p>
								<input type="text" name="nameproduct" class="form-control">
							</p></td>
					</tr>
					<tr class="table">
						<td class="left"><p>Ảnh minh họa</p></td>
						<td class="images"><p>
								<input type="file"  name="img" multiple class="filestyle">
							</p></td>
					</tr>
					<tr class="table">
						<td class="left"><p>Giá của sản phẩm</p></td>
						<td class="gia"><p>
								<input type="number" min="0" name="gia" class="form-control">
							</p></td>
					</tr>
					<tr class="table">
						<td class="left"><p>Miêu tả sản phẩm</p></td>
						<td class="right"><p>
								<textarea class="form-control" style="height:100px; width: 100%" name="mieuta"></textarea>
							</p></td>
					</tr>
					<tr>
						<td colspan="2">
								<input type="button" value="Lưu" name="luu" class="btn">
								<input type="reset" value="Nhập lại" name="nhaplai" class="btn">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<section class="clear"></section>
	<footer th:insert="footer::footer"></footer>
</body>

</html>