@charset "utf-8";

@import url("header+footer.css");
* {
	margin: 0;
	padding: 0;
}

.detail {
	font-size: 16px;
	height: 750px;
}

.trai {
	width: 60%;
	height: 800px;
	float: left;
	background: white;
}

.thongtin {
	margin-top: 35px;
	width: 100%;
	height: 250px;
	position: relative;
	border: 5px groove gray;
}

.canhbao {
	color: #000;
}

.canhbao h3 {
	color: #F00;
	font: bold;
}

.back button {
	margin-bottom: :27px;
	z-index: 1000;
	position: absolute;
}

.thongtin button {
	position: absolute;
	bottom: 15%;
	left:36%;
}

.thongtin h3 {
	position: absolute;
	bottom: 15%;
	left:36%;
	color:red;
	font-weight:bold;
	display: none;
	z-index: 1000;
}

#duyet-hang {
	width: 100%;
	height: 40px;
	background: black;
	color: white;
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
}

.avata img {
	width: 20%;
	top: 20px;
	left: 20px;
	position: absolute;
}

.text {
	width: 60%;
	position: absolute;
	top: 20px;
	left: 30%;
}
.phai {
	width: 40%;
	height: 800px;
	padding-right:50px;
	float: left;
	background: white;
}

#carousel-example-generic {
	width: 90%;
	height: 500px;
	margin-left: 50px;
	margin-top: 25px;
}

#carousel-example-generic .item {
	height: 500px;
	width: 100%;
}
